/* ************************************* */
/* ****** GENERAL - MY CLASSES ********* */
/* ************************************* */
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.mc_border_bottom {
  border-bottom: 1px solid black;
}

.mc_bc_grey {
  background-color: rgb(176, 189, 202);
}

.mc_bc_blue {
  background-color: #1373aa;
}

.mc_bc_whitesmoke {
  background-color: whitesmoke;
}

.mc_white {
  color: white;
}

.mc_padding_row {
  padding: 15px 15px;
}

.mc_padding2 {
  padding: 2px;
}

.mc_link {
  border: 1px solid white;
}

.mc_p_relative {
  position: relative;
}
/* END GENERAL - MY CLASSES */

/* ************************************* */
/* ********     H E A D E R    ********* */
/* ************************************* */

/* navbar */
#my_nav .mc_navbar {
  border-radius: 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(176, 189, 202);
  margin-bottom: 0;
}

#my_nav .navbar-brand.mc_navbar_brand span {
  font-size: 1.5em;
}

#my_nav .navbar-default .navbar-brand.mc_navbar_brand {
  color: black;
}

#my_nav .navbar-default .navbar-brand.mc_navbar_brand:hover {
  color: coral;
}

#my_nav .navbar-default .navbar-toggle.collapsed.mc_navbar_collapsed {
  border-color: black;
  background-color: transparent;
}

#my_nav .navbar-default .navbar-toggle:focus .icon-bar.mc_icon {
  background-color: coral;
}

#my_nav .navbar-default .navbar-toggle .icon-bar.mc_icon {
  background-color: chartreuse;
}

.navbar-default .navbar-nav > li:hover {
  background-color: rgb(225, 229, 233);
}

#my_nav .navbar-default .navbar-nav > li > a {
  color: black;
  font-size: larger;
}

#my_nav .navbar-default .navbar-nav > li:hover > a {
  color: coral;
}

#my_nav .navbar-default .navbar-collapse,
#my_nav .navbar-default.mc_navbar {
  border-color: black;
}

#my_nav .navbar-nav {
  margin: 0px -15px;
  background-color: white;
}
/* end navbar */

/* jumbotron */
#jumbotron {
  width: 100%;
  height: 500px;
  background-image: url(../img/Cities.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#jumbotron .layover {
  background-color: rgba(0, 0, 0, 0.055);
}

#jumbotron h1 {
  font-size: 3em;
}
/* end jumbotron */

/* END HEADER */

/* ************************************* */
/* ***********    M A I N    *********** */
/* ************************************* */

/* link  */
#links {
  background-color: rgb(176, 189, 202);
}

#links a {
  color: chartreuse;
  text-shadow: 1px 1px 5px white;
}

#links a:hover {
  color: coral;
}
/* end link  */

/* carousel */
#carousel {
  margin-top: 30px;
  margin-bottom: 30px;
}

#carousel .carousel_left {
  background-color: rgba(17, 19, 17, 0.589);
  color: chartreuse;
  position: absolute;
  top: 50%;
  left: 10%;
  cursor: pointer;
}

#carousel .carousel_center img {
  display: none;
}

#carousel .carousel_center img.active {
  display: inline-block;
}

#carousel .carousel_right {
  background-color: rgba(17, 19, 17, 0.589);
  color: chartreuse;
  position: absolute;
  top: 50%;
  right: 10%;
  cursor: pointer;
}

#carousel .nav_carousel {
  background-color: rgba(17, 19, 17, 0.589);
  color: white;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

#carousel .nav_carousel .active {
  color: chartreuse;
}
