/* GENERAL - MY CLASSES */
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.mc_border_bottom {
  border-bottom: 1px solid black;
}

.mc_bc_grey {
  background-color: rgb(176, 189, 202);
}

.mc_bc_blue {
  background-color: #1373AA;
}

.mc_bc_whitesmoke {
  background-color: whitesmoke;
}

.mc_white {
  color: white;
}

.mc_padding_row {
  padding: 15px 15px;
}
/* END GENERAL - MY CLASSES */

/* HEADER */

/* navbar */
.mc_navbar {
  border-radius: 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(176, 189, 202);
  margin-bottom: 0;
}

.navbar-brand.mc_navbar_brand span {
  font-size: 1.5em;
}

.navbar-default .navbar-brand.mc_navbar_brand {
  color: black;
}

.navbar-default .navbar-brand.mc_navbar_brand:hover {
  color: coral;
}

.navbar-default .navbar-toggle.collapsed.mc_navbar_collapsed {
  border-color: black;
  background-color: transparent;
}

.navbar-default .navbar-toggle:focus .icon-bar.mc_icon {
  background-color: coral;
}

.navbar-default .navbar-toggle .icon-bar.mc_icon {
  background-color: black;
}

.navbar-default .navbar-nav>li:hover {
  background-color: rgb(225, 229, 233);
}

.navbar-default .navbar-nav>li>a {
  color: black;
  font-size: larger;
}

.navbar-default .navbar-nav>li:hover>a {
  color: coral;
}

.navbar-default .navbar-collapse,
.navbar-default.mc_navbar {
  border-color: black;
}

.navbar-nav {
  margin: 0px -15px;
  background-color: white;
}
/* end navbar */

/* jumbotron */
#jumbotron {
  width: 100%;
  height: 500px;
  background-image: url(../img/Cities.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.layover {
  background-color: rgba(0, 0, 0, 0.055);
}
/* end jumbotron */

/* END HEADER */

/* MAIN */

/* link  */
#links {
  background-color: rgb(176, 189, 202);
}

#links a {
  color: chartreuse;
  text-shadow: 1px 1px 5px white;
}

#links a:hover {
  color: coral
}

.mc_link {
  border: 1px solid white;
}
/* end link  */

/* carousel */

/* end carousel */